<nav class="is-home">
    <div class="wrapper">
        <div class="links">
            <div class="about link" data-id="1">About</div>
            <div class="schedule link" data-id="2">Schedule</div>
            <div class="codeatnight link" data-id="3">Code@Night</div>
            <div class="logo" data-id="4"></div>
            <div class="devseries link" data-id="5">Dev Series</div>
            <div class="owlhacks link" data-id="6">Owlhacks</div>
            <div class="contactus link" data-id="7">Contact Us</div>
        </div>
    </div>
</nav>
