.home.page {
    position: relative;

    .bg {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: url(/img/home-bg.jpg);
        background-size: cover;
        opacity: 0.25;
    }

    .spotlight {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: linear-gradient(to bottom, #e0e8ea 0%, transparent 30%);
    }

    .text {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        box-sizing: border-box;

        & > .container {
            display: table;
            width: 900px;
            height: 100%;
            margin: 0 auto;

            & > .container {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;

                .headline {
                    font-size: 95px;
                    color: #444444;
                    font-family: 'Open Sans', sans-serif;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    font-weight: 300;
                }

                .description {
                    font-size: 25px;
                    color: #444444;
                    font-family: 'Open Sans', sans-serif;
                    letter-spacing: 2.6px;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-left: 5px;
                    position: relative;
                    left: -5px;
                    text-shadow: 0px 0px 8px white;
                }
            }
        }
    }
}
