nav {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #9e1b34;
    text-align: center;
    z-index: 200;
    transition: background 500ms;

    &.is-home {
        background: transparent;

        .logo {
            height: 100px;
            background-image: url(/img/icon-dark.png);
        }

        .links .link {
            color: #444444;
            height: 100px;
            padding-top: 43px;
        }
        // background: rgba(0, 0, 0, 0);
    }

    .wrapper {
        display: inline-block;
    }

    .logo {
        float: left;
        width: 25px;
        height: 50px;
        margin-right: 60px;
        background-size: contain;
        background-image: url(/img/icon.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: height 500ms;
    }

    .links {
        float: left;
        cursor: pointer;

        .link {
            float: left;
            height: 50px;
            margin-right: 60px;
            padding-top: 18px;
            font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
            font-size: 15px;
            color: white;
            text-transform: uppercase;
            opacity: 1.0;
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
            transition: color 500ms, opacity 250ms, height 500ms, padding-top 500ms;
            letter-spacing: 1.5px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
